{% extends "base.html" %}

{% set active_page = "company" %}

{% block content %}
{% set alphabet = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"] %}

<p class="pixel_font text-light">
    {% for letter in alphabet %}
        {% if letter in company_first_letters %}
            <a class="link-light" href="#{{ letter }}">{{ letter }}</a>
        {% else %}
            <span class="text-secondary">{{ letter }}</span>
        {% endif %}
    {% endfor %}
</p>

{% for letter in alphabet %}
    {% if letter in company_first_letters %}
        <p id="{{ letter }}" class="pixel_font text-light h4 mt-5">{{ letter }}</p>
        <hr class="border border-danger opacity-50 mb-4">

        {% for c in companies %}
            {% if c.Company.name[0] == letter %}
                <p class="pixel_font text-light h5 mt-4">{{ c.Company.name }}</p>

        <div class="table-responsive">
            <table class="table table-light table-striped-columns rounded-3 overflow-hidden mb-2">
                <thead>
                    <tr>
                        <th scope="col">Row</th>
                        <th scope="col">Game</th>
                        <th scope="col">Song</th>
                        <th scope="col">Composer(s)</th>
                        <th scope="col">Developer</th>
                        <th scope="col">Publisher</th>
                        <th scope="col">Year</th>
                        <th scope="col">Upload</th>
                        <th scope="col">Link</th>
                    </tr>
                </thead>

                <tbody class="table-group-divider">
                    {% for row in table %}
{#                        <p class="text-light">{{ row.Game.developer.name }}</p>#}
{#                        <p class="text-light">{{ row.Game.publisher.name }}</p>#}
{#                        {% if row.Game.developer.name[0] == letter or row.Game.publisher.name[0] == letter %}#}
                            {% if row.Game.developer.name == c.Company.name or row.Game.publisher.name == c.Company.name %}
                            <tr>
                                <td>{{ row.Game.name }}</td>
                                <td>{{ row.Song.name }}</td>
                                <td>
                                    {% if composers[row.Song.id] %}
                                        <span>
                                            {% for c in composers[row.Song.id] %}
                                                <span>{{ c }}</span><span class="comma">,</span>
                                            {% endfor %}
                                        </span>
                                        <br>
                                        <span>
                                            {% for a in arrangers[row.Song.id] %}
                                                <span>Arranged by </span><span>{{ a }}</span><span class="comma">,</span>
                                            {% endfor %}
                                        </span>
                                    {% else %}
                                        Unknown composer
                                    {%  endif %}
                                </td>
                                <td>{{ row.Game.developer.name }}</td>
                                <td>{{ row.Game.publisher.name }}</td>
                                <td>{{ row.Game.year }}</td>
                                <td>{{ row.Video.upload_date.strftime('%-m/%d/%y') }}</td>
                                <td>
                                    <a class="link-secondary" href="{{ row.Video.link }}" target="_blank">Video</a>
                                </td>
                            </tr>
                                {% endif %}
{#                        {% endif %}#}
                    {% endfor %}
                </tbody>
            </table>
        </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
{% endblock content %}
