{% extends "base.html" %}

{% block content %}
    <div class="mb-5">
        <h1 class="text-white pixel_font">Plinder</h1>
        <a class="btn btn-secondary mb-4" href="https://www.youtube.com/@plinderweb" target="_blank">@plinderweb</a>
        <p class="text-white">Index of songs found at my YouTube channel.</p>
    </div>

    {% block table %}
        <div class="table-responsive">
            <table class="table table-light table-striped-columns rounded-3 overflow-hidden">
                <thead>
                    <tr>
                        <th scope="col">Count</th>
                        <th scope="col">Game</th>
                        <th scope="col">Song</th>
                        <th scope="col">Composer(s)</th>
                        <th scope="col">Developer</th>
                        <th scope="col">Publisher</th>
                        <th scope="col">Year</th>
                        <th scope="col">Upload</th>
                        <th scope="col">Link</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for row in table %}
                        <tr>
                            <td>{{ row.Song.id }}</td>
                            <td>{{ row.Game.name }}</td>
                            <td>{{ row.Song.name }}</td>
                            <td>
                                {% for c in composers[row.Song.id] %}
                                    <span>{{ c }}</span><span>,</span>
                                {% endfor %}
                                {% for a in arrangers[row.Song.id] %}
                                    </br>
                                    <span>Arranged by </span><span>{{ a }}</span><span>,</span>
                                {% endfor %}
                            </td>
{#                            <td>{{ row.SongMusician.composer.name }}</td>#}
{#                            <td>{{ row.SongMusician.arranger.name }}</td>#}
                            <td>{{ row.Game.developer.name }}</td>
                            <td>{{ row.Game.publisher.name }}</td>
                            <td>{{ row.Game.year }}</td>
                            <td>{{ row.Video.upload_date.strftime('%-m/%d/%y') }}</td>
                            <td>
                                <a class="link-secondary" href="{{ row.Video.link }}" target="_blank">Video</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock table %}
{% endblock content %}
