{% extends "base.html" %}

{% set active_page = "year" %}

{% block content %}
{% set years = [1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993] %}

<p class="pixel-font text-light">
    {% for year in years %}
        {% if year in list_of_years %}
            <a class="link-light" href="#{{ year }}">{{ year }}</a>
        {% else %}
            <span class="text-secondary">{{ year }}</span>
        {% endif %}
    {% endfor %}
</p>

{% for year in years %}
    {% if year in list_of_years %}
        <p id="{{ year }}" class="pixel-font text-light h4 mt-5">{{ year }}</p>

        <div class="table-responsive">
            <table class="table table-secondary table-striped-columns rounded-3 overflow-hidden">
                <thead>
                    <tr>
                        <th scope="col">Row</th>
                        <th scope="col">Game</th>
                        <th scope="col">Song</th>
                        <th scope="col">Composer(s)</th>
                        <th scope="col">Developer</th>
                        <th scope="col">Publisher</th>
                        <th scope="col">Year</th>
                        <th scope="col">Upload</th>
                        <th scope="col">Link</th>
                    </tr>
                </thead>

                <tbody class="table-group-divider">
                    {% for row in table %}
                        {% if row.Game.year == year %}
                            <tr>
                                <td>{{ row.Game.name }}</td>
                                <td tabindex="0" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="focus" data-bs-html="true" data-bs-content="{{ row.Video.description }}
                                    {% if row.Video.desc_note %}
                                        <br><br>{{ row.Video.desc_note }}
                                    {% endif %}">
                                {{ row.Song.name }}
                                </td>
                                <td>
                                    {% if composers[row.Song.id] %}
                                        <span>
                                            {% for c in composers[row.Song.id] %}
                                                {% if c.first_name %}
                                                    <span>{{ c.first_name }} {{ c.last_name }}</span><span class="comma">,</span>
                                                {% else %}
                                                    <span>{{ c.last_name }}</span><span class="comma">,</span>
                                                {% endif %}
                                            {% endfor %}
                                        </span>
                                        <br>
                                        <span>
                                            {% if arrangers[row.Song.id] %}
                                                <span>Arranged by </span>
                                                {% for a in arrangers[row.Song.id] %}
                                                    <span>{{ a.first_name }} {{ a.last_name }}</span><span class="comma">,</span>
                                                {% endfor %}
                                            {% endif %}
                                        </span>
                                    {% else %}
                                        Unknown composer
                                    {% endif %}
                                </td>
                                <td>{{ row.Game.developer.name }}</td>
                                <td>{{ row.Game.publisher.name }}</td>
                                <td>{{ row.Game.year }}</td>
                                <td>{{ row.Video.upload_date.strftime('%-m/%d/%y') }}</td>
                                <td>
                                    <a class="link-secondary" href="{{ row.Video.link }}" target="_blank">Video</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endfor %}
{% endblock content %}
